.container {
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 3vmax 8vmax;
    box-sizing: border-box;
}

.container > form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
button {
    padding: 20px;
    border: 1px solid rgba(23, 23, 23, 0.831);
    border-radius: 4px;
    margin: 15px 0;
}

button {
    border: none;
    cursor: pointer;
    background-color: rgb(52, 48, 48);
    color: white;
}

button:hover {
    background-color: rgb(164, 92, 92);
}
